#choropleth-map {
  height: 87.5vh;
}

.chart-container {
  padding-bottom: 10px;
}

.slider-container {
  padding-bottom: 10px;
}

.choropleth-container {
  padding-bottom: 10px;
}

.map-frame {
  position: relative; /* Ensures the button is positioned relative to this container */
}

#line-chart,
#bar-chart,
#line-chart-hli-monthly {
  height: 30vh; /* Default height for larger screens */
}

/* Adjust to 90vh when screen width is smaller than Bootstrap "sm" (768px) */
@media screen and (max-width: 768px) {
  #line-chart,
  #bar-chart,
  #line-chart-hli-monthly {
    height: 90vh;
  }
}

.map-container {
  position: relative; /* Ensures absolute positioning is relative to this container */
}

.map-controls {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Make background slightly more visible */
  padding: 8px 12px; /* Increase padding for better spacing */
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10; /* Keeps it above the map */
  display: flex;
  gap: 10px; /* Adds spacing between button and toggle */
  align-items: center; /* Aligns items properly */
  color: black !important; /* Ensure text is visible */
  font-weight: bold; /* Make text more readable */
  border: 1px solid rgba(0, 0, 0, 0.2); /* Add a subtle border */
}
