#choropleth-map {
  height: 87vh;
}

.chart-container {
  padding-bottom: 10px;
}

.map-frame {
  position: relative; /* Ensures the button is positioned relative to this container */
}

#reset-button {
  position: absolute;
  top: 10px; /* Adjust to position properly */
  left: 10px; /* Adjust to position properly */
  z-index: 10;
  padding: 8px 12px;
  font-size: 14px;
  font-weight: bold;
  color: black;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid #333;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

#reset-button:hover {
  background-color: rgba(230, 230, 230, 1);
}

#line-chart,
#bar-chart,
#line-chart-hli-monthly {
  height: 30vh; /* Default height for larger screens */
}

/* Adjust to 90vh when screen width is smaller than Bootstrap "sm" (576px) */
@media screen and (max-width: 576px) {
  #line-chart,
  #bar-chart,
  #line-chart-hli-monthly {
    height: 90vh;
  }
}
