#choropleth-map {
  height: 87.5vh;
}

.chart-container {
  padding-bottom: 10px;
}

.slider-container {
  padding-bottom: 10px;
}

.choropleth-container {
  padding-bottom: 10px;
}

.map-frame {
  position: relative; /* Ensures the button is positioned relative to this container */
}

#line-chart,
#bar-chart,
#line-chart-hli-monthly {
  height: 30vh; /* Default height for larger screens */
}

/* Adjust to 90vh when screen width is smaller than Bootstrap "sm" (768px) */
@media screen and (max-width: 768px) {
  #line-chart,
  #bar-chart,
  #line-chart-hli-monthly {
    height: 90vh;
  }
}

.map-container {
  position: relative; /* Ensures absolute positioning is relative to this container */
}

.map-controls {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10; /* Keeps it above the map */
  display: flex;
  align-items: center; /* Aligns items properly */
}

#play-button {
  position: fixed;
  bottom: 40px;
  left: 40px;
  width: 60px;
  height: 60px;
  z-index: 1000;
}
